<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.code_freak.com.bunch_of_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_Navigator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Calculator" />
        <activity android:name=".Greet_User" />
        <activity android:name=".Common_Activity" />
        <activity android:name=".Algorithm_Benchmark" />
        <activity android:name=".Get_Image" />
        <activity android:name=".Get_Contact" />
        <activity android:name=".Web_Browser" />
        <activity android:name=".List_View_Color" />
        <activity android:name=".Cmn_Web_Activity" />
        <activity android:name=".Sensor_List" />
        <activity android:name=".Sensor_List_ListView"></activity>
    </application>

</manifest>
